* {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(60, 60, 60);
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 15px;
}

.game-cover {
    margin-right: 10px;
    border-radius: 1vh;
    width: 163px;
    height: 234px;
    transition-duration: 250ms;
    transition-property: width, height;

}

.game-cover:hover {
    width: 173px;
    height: 244px;
    
    border: 2px solid white;
}

.round-border {
    border-radius: 1vh;
}

#back-to-top {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    padding: 15px;
    font-size: 18px;
    opacity: 0%;

    transition-duration: 200ms;
    transition-property: all;
}

footer {
    padding: 10px;
    padding-top: 1px;
    background-color: #506aa1;
    align-items: center;
    font-size: 18px;
    color: black;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
    background-color: #506aa1;
}

.nav-link {
    color: black !important;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.nav-link:after, .nav-link.active:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.nav-link:hover:after, .nav-link.active:after { 
    width: 100%; 
    left: 0px;
}

.collapsible, .fake-collapsible {
    background-color: #506aa1;
    color: #222;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}
  
.active, .collapsible:hover, .fake-collapsible:hover {
    background-color: #5087a1;
}

section {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

#articles {
    list-style: none;
}

article p {
    font-size: x-large;
}